*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.page {
    max-width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;  
}

header img {
    max-width: 30rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
       
    background-color: #cee2b8;
    
    font-weight: 700;    
}

.menu li {
    float: left;
    font-size: 1.6rem;
    
    margin-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
}

.menu li a{
    
    text-decoration: none;
    color: #1a3b10;
}

.menu li a:hover{
    cursor: pointer;
    color: #3f8a28;
}

.banner{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    background-image: url('assets/neurologia-anderson-pelichek.jpg');
    
    background-size: cover;
	background-position: center;
	padding: 10rem 2rem;
	text-align: center;
	color: #ffff;

}

.banner h1 {
    font-size: 3rem;
    font-weight: 700;

    max-width: 50rem;

    color: black;
    border-radius: 5rem;
    padding: 1rem;
    margin-top: 1.6rem;
}

.banner button{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem;
    background-color:rgb(41, 41, 128);
    border: none;
    border-radius: .5rem;
}

.banner button a {
    text-decoration: none;
    color: white;
}

.banner button:hover {
    cursor: pointer;
    background-color: rgb(20, 20, 68);
}


.services {
    background-color: #cee2b8;
       
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

h1{
    color: #1a3b10;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    
    display: flex;
    justify-content: center;
}

.container {
    max-width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}


.container li {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}


img {
    max-width: 100%;
    height: auto;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about p {
    max-width: 50rem;
   margin-top: 1.6rem;
   align-items: center;
   
}

.location {
    background-color: #cee2b8;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.maps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.location h3, p, iframe{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location button {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem;
    background-color: #1a3b10;
    border: none;
    border-radius: .5rem;

    margin-left: 5rem;
}

.location button:hover {
    cursor: pointer;
    background-color:#0c1b07;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location iframe {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}